{% extends "layout.html" %}
{% block content %}
<div class = "row">
{% for x in dashboard_summary %}
    <div class="col-md-3">
        <div class="hpanel {{loop.cycle('hbggreen', 'hbgblue', 'hbgyellow', 'hbgred')}}">
            <div class="panel-body">
                <div class="text-center">
                    <h3>{{x}}</h3>
                    <p class="text-big font-light">
                        {{dashboard_summary[x]}}
                    </p>
                    <small>
                        {{x}} since <div class ="dashboarddateinfo"></div>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<div class="row ">
    <div class="hpanel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <br/><br/><br/>
                    <div class="small">
                        <i class="fa fa-bolt"></i> Followers
                    </div>
                    <div>
                        <h1 class="font-extra-bold m-t-xl m-b-xs">
                            {{followers_today}}
                        </h1>
                        <small>Followers today</small>
                    </div>
                </div>
                <div class="col-md-4" style="height: 240px">
                    <div class="profile-picture">
                        <img src="{{iprofile_pic}}" class="img-circle m-b" alt="logo">
                        <div class="stats-label text-color">
                            <span class="font-extra-bold font-uppercase">
                                <h2 class="font-light m-b-xs">@{{handle}}</h2>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <br/><br/><br/>
                    <div class="small">
                        <i class="fa fa-clock-o"></i> Engagement Rate
                    </div>
                    <div>
                        <h1 class="font-extra-bold m-t-xl m-b-xs">
                                {{'%.2f' %  (engagement_today * 100)}} %
                        </h1>
                        <small>Engagement Rate today</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class = "row">
    <form method="post" action="{{ url_for('instaboard', handle = handle) }}" id="dateiboardform">
        <div class="col-lg-9">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="startdate"/>
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="enddate"/>
            </div>
        </div>
        <div class="col-lg-3"><button class="btn btn-success">Retrieve Stats</button></div>
    </form>
</div>
<br/>
<div class = "row">
    <div class="col-lg-9">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Followers in the past 14 days
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="followerschart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Activity
            </div>
            <div class="panel-body list">
                <div class="pull-right">
                    <a id="activitytoday" class="btn btn-xs btn-default">Today</a>
                    <a id="activitymonth" class="btn btn-xs btn-default">Month</a>
                </div>
                <div class="panel-title">Latest Instagram Interactions</div>
                <small class="fo">Your latest activity</small>
                <div class="list-item-container">
                    <div class="list-item">
                        <h3 id="activity_followers_cnt" class="no-margins font-extra-bold text-success">{{daily_activity['followers'][0]}}</h3>
                        <small>Total Followers</small>
                        <div id="activity_followers_percentage" class="pull-right font-bold">{{daily_activity['followers'][1]}}
                            <i id="afolstatuschange" class="text-color3"></i>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3 id = "activity_following_cnt" class="no-margins font-extra-bold text-color3">{{daily_activity['following'][0]}}</h3>
                        <small>Total Following</small>
                        <div id="activity_following_percentage" class="pull-right font-bold">{{daily_activity['following'][1]}}
                            <i id="afngstatuschange" class="text-color3"></i>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3 id="activity_engagement_cnt" class="no-margins font-extra-bold text-color3">{{daily_activity['engagement'][0]}}</h3>
                        <small>Total Engagement Rate</small>
                        <div id="activity_engagement_percentage" class="pull-right font-bold">{{daily_activity['engagement'][1]}}
                            <i id="aengstatuschange" class="text-color3"></i>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3 id="activity_media_cnt" class="no-margins font-extra-bold text-success">{{daily_activity['likes'][0]}}</h3>
                        <small>Total posts</small>
                        <div id="activity_media_percentage" class="pull-right font-bold">{{daily_activity['likes'][1]}}
                            <i id="aposstatuschange" class="text-color"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "row">
    <div class="col-lg-9">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Engagement Rate in the past 14 days
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="engagementchart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <br/><br/>
        <div class="hpanel">
            <div class="panel-body">
                <div class="text-center">
                    <h2 class="m-b-xs">Engagement Rate</h2>
                    <p class="font-bold text-success">Lorem ipsum</p>
                    <div class="m">
                        <i class="pe-7s-science fa-5x"></i>
                    </div>
                    <p class="small">
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <button class="btn btn-success btn-sm">Action button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Media likes in the past 14 days
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="medialikeschart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Followers vs Average likes in the past 14 days
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="followlikechart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var media_likesrawdata = []
    var arr = []
    {% for x in media_likes_raw_data %}
      media_likesrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
      arr.push({{x[1]}});
    {% endfor %}
    var arrmax = Math.max.apply(null, arr) ;
    var arrmin = Math.min.apply(null, arr) ;
    var arrticks = Math.round((arrmax - arrmin)/10);
    console.log(media_likesrawdata);
    var media_likesdata = [
        {
            label: "line",
            data: media_likesrawdata
        }
    ];

    var media_likesChartOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                    ]
                }
            }
        },
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        yaxis: {
            min: arrmin - arrticks,
            max: arrmax + arrticks,
            tickSize: arrticks
        },
        colors: ["#62cb31"],
        grid: {
            tickColor: "#e4e5e7",
            borderWidth: 1,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: {
            show: false
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };
    $.plot($("#medialikeschart"), media_likesdata, media_likesChartOptions);


    var followersrawdata = []
    var arr = []
    {% for x in followers_raw_data %}
      followersrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
      arr.push({{x[1]}});
    {% endfor %}
    var arrmax = Math.max.apply(null, arr) ;
    var arrmin = Math.min.apply(null, arr) ;
    var arrticks = Math.round((arrmax - arrmin)/10);
    console.log(followersrawdata);
    var followersdata = [
        {
            label: "line",
            data: followersrawdata
        }
    ];

    var followersChartOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                    ]
                }
            }
        },
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        yaxis: {
            min: arrmin - arrticks,
            max: arrmax + arrticks,
            tickSize: arrticks
        },
        colors: ["#62cb31"],
        grid: {
            tickColor: "#e4e5e7",
            borderWidth: 1,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: {
            show: false
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };
    $.plot($("#followerschart"), followersdata, followersChartOptions);

    var engagementrawdata = []
    {% for x in engagement_rate_raw_data %}
      engagementrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
    {% endfor %}
    console.log(engagementrawdata);
    var engagementdata = [
        {
            label: "line",
            data: engagementrawdata
        }
    ];

    var engagementChartOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                    ]
                }
            }
        },
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        colors: ["#62cb31"],
        grid: {
            tickColor: "#e4e5e7",
            borderWidth: 1,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: {
            show: false
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };
    $.plot($("#engagementchart"), engagementdata, engagementChartOptions);

    var likedata = []
    var arr = []
    {% for x in media_likes_mv_avg %}
      likedata.push([new Date("{{x[0]}}"), {{x[1]}}]);
      arr.push({{x[1]}});
    {% endfor %}
    console.log(likedata);
    var followlikedata = [
				{ data: likedata, label: "7-day moving average likes (Right Axis)" },
				{ data: followersrawdata, label: "Followers count (Left Axis)", yaxis: 2 }
    ];

    var followLikeChartOptions = {
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        yaxes: [ {
					alignTicksWithAxis:  1,
					position: "right"
				} ],
        colors: ["#62cb31", "#0000ff"],
        grid: {
            tickColor: "#e4e5e7",
            borderWidth: 1,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: { position: "sw" },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };
    $.plot($("#followlikechart"), followlikedata, followLikeChartOptions);

</script>
<script type="text/javascript">

$("#activitytoday").on('click', function(e){
    e.preventDefault();
    $("#activity_followers_cnt").text("{{daily_activity['followers'][0]}}");
    $("#activity_followers_percentage").text("{{daily_activity['followers'][1]}}");
    {% if daily_activity['followers'][2] == 1 %}
    $("#afolstatuschange").addClass("fa-level-up");
    {% else %}
    $("#afolstatuschange").addClass("fa level-down");
    {% endif %}

    $("#activity_following_cnt").text("{{daily_activity['following'][0]}}");
    $("#activity_following_percentage").text("{{daily_activity['following'][1]}}");
    {% if daily_activity['following'][2] == 1 %}
    $("#afngstatuschange").addClass("fa fa-level-up");
    {% else %}
    $("#afngstatuschange").addClass("fa level-down");
    {% endif %}

    $("#activity_engagement_cnt").text("{{daily_activity['engagement'][0]}}");
    $("#activity_engagement_percentage").text("{{daily_activity['engagement'][1]}}");
    {% if daily_activity['engagement'][2] == 1 %}
    $("#aengstatuschange").addClass("fa fa-level-up");
    {% else %}
    $("#aengstatuschange").addClass("fa level-down");
    {% endif %}

    $("#activity_media_cnt").text("{{daily_activity['likes'][0]}}");
    $("#activity_media_percentage").text("{{daily_activity['likes'][1]}}");
    {% if daily_activity['likes'][2] == 1 %}
    $("#aposstatuschange").addClass("fa fa-level-up");
    {% else %}
    $("#aposstatuschange").addClass("fa level-down");
    {% endif %}
});

$("#activitymonth").on('click', function(e){
    e.preventDefault();
    $("#activity_followers_cnt").text("{{monthly_activity['followers'][0]}}");
    $("#activity_followers_percentage").text("{{monthly_activity['followers'][1]}}");
    {% if monthly_activity['followers'][2] == 1 %}
    $("#afolstatuschange").addClass("fa fa-level-up");
    {% else %}
    $("#afolstatuschange").addClass("fa level-down");
    {% endif %}

    $("#activity_following_cnt").text("{{monthly_activity['following'][0]}}");
    $("#activity_following_percentage").text("{{monthly_activity['following'][1]}}");
    {% if monthly_activity['following'][2] == 1 %}
    $("#afngstatuschange").addClass("fa fa-level-up");
    {% else %}
    $("#afngstatuschange").addClass("fa level-down");
    {% endif %}

    $("#activity_engagement_cnt").text("{{monthly_activity['engagement'][0]}}");
    $("#activity_engagement_percentage").text("{{monthly_activity['engagement'][1]}}");
    {% if monthly_activity['engagement'][2] == 1 %}
    $("#aengstatuschange").addClass("fa fa-level-up");
    {% else %}
    $("#aengstatuschange").addClass("fa level-down");
    {% endif %}

    $("#activity_media_cnt").text("{{monthly_activity['likes'][0]}}");
    $("#activity_media_percentage").text("{{monthly_activity['likes'][1]}}");
    {% if monthly_activity['likes'][2] == 1 %}
    $("#aposstatuschange").addClass("fa fa-level-up");
    {% else %}
    $("#aposstatuschange").addClass("fa fa-level-down");
    {% endif %}
});

function formatDate(date) {
  var monthNames = [
    "January", "February", "March",
    "April", "May", "June", "July",
    "August", "September", "October",
    "November", "December"
  ];

  var day = date.getDate();
  var monthIndex = date.getMonth();
  var year = date.getFullYear();

  return day + ' ' + monthNames[monthIndex] + ' ' + year;
}

$today = new Date();
$yesterday = new Date($today);
$yesterday.setDate($today.getDate() - 1);
$(".dashboarddateinfo").text(formatDate($yesterday));



$('#datepicker').datepicker();
$("#datepicker").on("changeDate", function(event) {
    $("#my_hidden_input").val(
            $("#datepicker").datepicker('getFormattedDate')
    )
});

$('.input-group.date').datepicker({dateFormat: "yyyy/mm/dd"});
$('.input-daterange').datepicker({dateFormat: "yyyy/mm/dd"});

</script>
{% endblock %}