{% extends 'layout.html' %}
{% block content %}
<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                  You can track a maxiumum of {{ account_limit }} Instagram accounts with your current plan.
            </h2>
            <small>If you need more, please click on the UPGRADE button on the menu or contact us at <a href="mailto:support@socialmediasilo.com">support@socialmediasilo.com</a></small>
        </div>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Your Instagram Accounts (enter just the username, without spaces. Do NOT include @ or the full link):
            </div>
            <div class="panel-body">
                <form id = "insta_account_groups" method = "post" action="{{url_for('instaaccounts')}}">
                  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                  <input name = "accounts" type="text" value="{{accounts|join(',')}}" data-role="tagsinput" />
                  <br/><br/>
                  <input type = "submit" class = "btn w-xs btn-success" value = "Save" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
