{% extends "layout.html" %}
{% block content %}
<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                  @{{handle}}
            </h2>
        </div>
    </div>
</div>
<br /><br />
<div class = "row">
{% for x in dashboard_summary %}
    <div class="col-md-3">
        <div class="hpanel {{loop.cycle('hbggreen', 'hbgblue', 'hbgyellow', 'hbgred')}}">
            <div class="panel-body">
                <div class="text-center">
                    <h3>{{x}}</h3>
                    <p class="text-big font-light">
                        {{dashboard_summary[x]}}
                    </p>
                    <small>
                        Pending text
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<div class = "row">
    <div class="col-lg-9">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Following growth in the past month
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="followingchart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Activity
            </div>
            <div class="panel-body list">

                <div class="pull-right">
                    <a href="#" class="btn btn-xs btn-default">Today</a>
                    <a href="#" class="btn btn-xs btn-default">Month</a>
                </div>
                <div class="panel-title">Last Activity</div>
                <small class="fo">This is simple example</small>
                <div class="list-item-container">
                    <div class="list-item">
                        <h3 class="no-margins font-extra-bold text-success">2,773</h3>
                        <small>Tota Messages Sent</small>
                        <div class="pull-right font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                    </div>
                    <div class="list-item">
                        <h3 class="no-margins font-extra-bold text-color3">4,422</h3>
                        <small>Last activity</small>
                        <div class="pull-right font-bold">13% <i class="fa fa-level-down text-color3"></i></div>
                    </div>
                    <div class="list-item">
                        <h3 class="no-margins font-extra-bold text-color3">9,180</h3>
                        <small>Monthly income</small>
                        <div class="pull-right font-bold">22% <i class="fa fa-bolt text-color3"></i></div>
                    </div>
                    <div class="list-item">
                        <h3 class="no-margins font-extra-bold text-success">1,450</h3>
                        <small>Tota Messages Sent</small>
                        <div class="pull-right font-bold">44% <i class="fa fa-level-up text-success"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "row">
    <div class="col-lg-9">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Following growth in the past month
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="followerschart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <br/><br/>
        <div class="hpanel">
            <div class="panel-body">
                <div class="text-center">
                    <h2 class="m-b-xs">Engagement Rate</h2>
                    <p class="font-bold text-success">Lorem ipsum</p>
                    <div class="m">
                        <i class="pe-7s-science fa-5x"></i>
                    </div>
                    <p class="small">
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <button class="btn btn-success btn-sm">Action button</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        var followingrawdata = []
        var arr = []
        {% for x in following_raw_data %}
          followingrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
          arr.push({{x[1]}});
        {% endfor %}
        var arrmax = Math.max.apply(null, arr) ;
        var arrmin = Math.min.apply(null, arr) ;
        var arrticks = Math.round((arrmax - arrmin)/10);
        console.log(followingrawdata);
        var followingdata = [
            {
                label: "line",
                data: followingrawdata
            }
        ];

        var followingChartOptions = {
            series: {
                lines: {
                    show: true,
                    lineWidth: 1,
                    fill: true,
                    fillColor: {
                        colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                        ]
                    }
                }
            },
            xaxis: {
                mode: "time",
                timeformat:"%y-%m-%d %H:%M:%S",
                tickSize: [1, 'day']
            },
            yaxis: {
                min: arrmin - arrticks,
                max: arrmax + arrticks,
                tickSize: arrticks
            },
            colors: ["#62cb31"],
            grid: {
                tickColor: "#e4e5e7",
                borderWidth: 1,
                borderColor: '#e4e5e7',
                color: '#6a6c6f'
            },
            legend: {
                show: false
            },
            tooltip: true,
            tooltipOpts: {
                content: "x: %x, y: %y"
            }
        };

        $.plot($("#followingchart"), followingdata, followingChartOptions);

        var followersrawdata = []
        {% for x in followers_raw_data %}
          followersrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
        {% endfor %}
        console.log(followersrawdata);
        var followersdata = [
            {
                label: "line",
                data: followersrawdata
            }
        ];

        var followersChartOptions = {
            series: {
                lines: {
                    show: true,
                    lineWidth: 1,
                    fill: true,
                    fillColor: {
                        colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                        ]
                    }
                }
            },
            xaxis: {
                mode: "time",
                timeformat:"%y-%m-%d %H:%M:%S",
                tickSize: [1, 'day']
            },
            colors: ["#62cb31"],
            grid: {
                tickColor: "#e4e5e7",
                borderWidth: 1,
                borderColor: '#e4e5e7',
                color: '#6a6c6f'
            },
            legend: {
                show: false
            },
            tooltip: true,
            tooltipOpts: {
                content: "x: %x, y: %y"
            }
        };

        $.plot($("#followerschart"), followersdata, followersChartOptions);
</script>
{% endblock %}