{% extends 'main_layout.html' %}
{% block bodyclass %}"fixed-navbar sidebar-scroll"{% endblock %}
{% block bodycontent %}
<style>
    .skin-option {
        position: fixed;
        text-align: center;
        right: -1px;
        padding: 10px;
        top: 80px;
        width: 150px;
        height: 133px;
        text-transform: uppercase;
        background-color: #ffffff;
        box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.05), 10px 12px 7px 3px rgba(0, 0, 0, .1);
        border-radius: 4px 0 0 4px;
        z-index: 100;
    }
</style>

<!-- Header -->
<div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <span>
            INSTABOARD
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">HOMER APP</span>
        </div>
        <div class="mobile-menu">
            <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                <i class="fa fa-chevron-down"></i>
            </button>
            <div class="collapse mobile-navbar" id="mobile-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="" href="/logout">Logout</a>
                    </li>
                    <li>
                        <a class="" href="/user">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-speaker"></i>
                        <span class="label label-success">5</span>
                    </a>
                    <ul class="dropdown-menu hdropdown notification animated flipInX">
                        <li>
                            <a href="#">
                                <span class="label label-success">TRENDING </span> Hashtag Research
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-default"> NEW </span> Follow Source Research
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-primary"> MOST USED </span> Boost Your Engagement
                            </a>
                        </li>
                         <li>
                            <a href="#">
                                <span class="label label-info"> TRENDING </span> Buy Grown IG Accounts
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-warning"> NEW </span> Grow Your Instagram Account
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/logout">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <div class="stats-label text-color">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="font-extra-bold font-uppercase"><h2>{{username}}</h2></span>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        <li><a href="/user">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li>
                <a href="#"> <span class="nav-label">Accounts Dashboard</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% for x in accounts %}
                        <li><a href="/ig/{{x}}">@{{x}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="active">
                <a href="/instaaccounts"> <span class="nav-label">Account Management</span><span class="label label-warning pull-right">NEW</span> </a>
            </li>
            {% if 'admin' in roles %}
            <li>
               <a href="/admin"> <span class="nav-label">Admin</span></a>
            </li>
            {% endif %}
            <li class>
                <a href="/upgrade"> <span class="nav-label">Upgrade</span></a>
            </li>
        </ul>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="content animate-panel">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            SMSILO
        </span>
        Company 2015-2020
    </footer>

</div>
{% endblock %}
