{% extends 'main_layout.html' %}
{% block bodyclass %}"blank"{% endblock %}
{% block bodycontent %}

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Social Media Silo</h1><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="color-line"></div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PLEASE LOGIN OR REGISTER FOR A FREE ACCOUNT</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="/login" method = "post" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="email">Your Email:</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you email" required="" value="" name="email" id="email" class="form-control">
                                <span class="help-block small">Enter your email here...</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password:</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                <span class="help-block small">Enter your password here...</span>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" class="i-checks" checked>
                                     Remember login
                                <p class="help-block small">(if this is a private computer)</p>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                            <a class="btn btn-default btn-block" href="/register">Register</a>
                            <a class="btn btn-warning btn-block" href="/password/forgot">Forgot Password?</a>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}