{% extends 'main_layout.html' %}
{% block bodyclass %}"blank"{% endblock %}
{% block bodycontent %}
<style>
.logowrapper {
    text-align: center
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
</style>
<link rel="stylesheet" href="{{url_for('static', filename = 'a4.css')}}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://github.com/niklasvh/html2canvas/releases/download/v1.0.0-alpha.9/html2canvas.min.js"></script>
<script src="https://rawgit.com/eKoopmans/html2pdf/pdf-callback/dist/html2pdf.bundle.js"></script>

    {% macro print_pagebreak(cnt, last = False) %}
        {% if cnt == 0 %}
            </page>
            {% if not last %}
                <div class="html2pdf__page-break"></div>
                <page class="page">
            {% endif %}
        {% endif %}
    {% endmacro %}

    {% macro print_logo() %}
    <div class="row logowrapper">
        <div class="col-lg-4"><img width="100%" height="100" alt="" src="{{url_for('static', filename = 'logos/reportbanner.jpg')}}"></div>
        <div class="col-lg-4"><img width="100%" height="100" alt="" src="{{logo}}"></div>
        <div class="col-lg-4"><img width="100%" height="100" alt="" src="{{url_for('static', filename = 'logos/reportbanner.jpg')}}"></div>
    </div>
    {% endmacro %}

    {% macro print_title() %}
    <div class="row" style="padding: 10px">
        <div class="col-lg-12 text-center welcome-message">
            <h2>Account Performance For @{{handle}}</h2><h3>From {{fstart_date}} to {{fend_date}}</h3>
        </div>
    </div>
    {% endmacro %}

    {% macro print_banner() %}
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="small">
                            <i class="fa fa-bolt"></i> Followers
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                {{followers_today}}
                            </h1>
                            <small>Total Followers</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="stats-label text-color">
                            <span class="font-extra-bold font-uppercase">
                                <h4 class="font-light m-b-xs">@{{handle}}</h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="small">
                            <i class="fa fa-clock-o"></i> Engagement Rate
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                    {{'%.2f' % engagement_today }} %
                            </h1>
                            <small>Engagement Rate <br>(based on the last 10 posts)</small>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endmacro %}

    {% macro print_summary() %}
    <div class = "row">
    {% for x in dashboard_summary %}
        <div class="col-md-3">
            <div class="hpanel {{loop.cycle('hbggreen', 'hbgblue', 'hbgyellow', 'hbgred')}}">
                <div class="panel-body">
                    <div class="text-center">
                        {% set lst = x.split(' ') %}
                        {% for l in lst %}
                        <h4>{{l}}</h4>
                        {% endfor %}
                        <div class="text font-light"><h3><b>{{dashboard_summary[x]}}</b></h3></div>
                        <small>
                            {{x}} since <div class ="dashboarddateinfo"></div>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endmacro %}

    {% macro print_followers() %}
    <div class = "{% if 'activity' in filters %}col-lg-9{% else %}col-lg-12{% endif %}">
        <div class="hpanel">
            <div class="panel-heading">
                Total Followers in {{detail_str}}
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="followerschart"></div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}

    {% macro print_activity() %}
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-heading">
                Activity
            </div>
            <div class="panel-body list">
                <div class="panel-title">Summary Of Your Stats For Today:</div>

                <div class="list-item-container">
                    <div class="list-item">
                        <h3 id="activity_followers_cnt" class="no-margins font-extra-bold text-success">{{daily_activity['followers'][0]}}</h3>
                        <small>Total Followers</small>
                        <div id="activity_followers_percentage" class="pull-right font-bold">{{daily_activity['followers'][1]}}
                            <i id="afolstatuschange" class="text-color3"></i>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3 id = "activity_following_cnt" class="no-margins font-extra-bold text-color3">{{daily_activity['following'][0]}}</h3>
                        <small>Total Following</small>
                        <div id="activity_following_percentage" class="pull-right font-bold">{{daily_activity['following'][1]}}
                            <i id="afngstatuschange" class="text-color3"></i>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3 id="activity_engagement_cnt" class="no-margins font-extra-bold text-color3">{{daily_activity['engagement'][0]}}</h3>
                        <small>Average Engagement Rate</small>
                        <div id="activity_engagement_percentage" class="pull-right font-bold">{{daily_activity['engagement'][1]}}
                            <i id="aengstatuschange" class="text-color3"></i>
                        </div>
                    </div>
                    <div class="list-item">
                        <h3 id="activity_media_cnt" class="no-margins font-extra-bold text-success">{{daily_activity['likes'][0]}}</h3>
                        <small>Total Posts</small>
                        <div id="activity_media_percentage" class="pull-right font-bold">{{daily_activity['likes'][1]}}
                            <i id="aposstatuschange" class="text-color"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}

    {% macro print_eng() %}
    <div class = "row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    Engagement Rate in {{detail_str}}
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="engagementchart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}

    {% macro print_likes() %}
    <div class = "row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    Post Likes in {{detail_str}}
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="medialikeschart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}

    {% macro print_flvslikes() %}
    <div class = "row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    Followers vs Average Likes in {{detail_str}}
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="followlikechart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}


<div id="loading" style="display: none;">
  <img id="loading-image" src="{{url_for('static', filename = 'loading.jpg')}}" alt="Loading..." />
</div>
<div id="actualcontent">
    <div class="text-center">
        <h1>Preview of the report</h1><br/><a class="btn btn-success" href="#" onclick="generatePDF();">Print Report</a>
        <a class="btn btn-success pull-right" id="downloadbutton" style="display: none;">Download Report</a>
    </div>
    <br/>
    <hr>
    <div id="ppreview" style="padding: 20px; margin= 20px;">
        <div id = "printcontent">
            <page class="page">
            {{ print_logo() }}
            {{ print_title() }}
            {% set pd_count = 0 %}
            {{ print_summary() }}
            {% set pd_count = (pd_count + 1) % 3 %}
            {{ print_pagebreak(pd_count) }}
            {{ print_banner() }}
            {% set pd_count = (pd_count + 1) % 3 %}
            {{ print_pagebreak(pd_count) }}
            {% if "followersc" in filters or "activity" in filters %}
                <div class = "row">
                    {% if "followersc" in filters %}
                    {{ print_followers() }}
                    {% endif %}

                    {% if "activity" in filters %}
                    {{ print_activity() }}
                    {% endif %}
                </div>
                {% set pd_count = (pd_count + 1) % 3 %}
                {{ print_pagebreak(pd_count, lf == "activity" or lf == "followersc") }}
            {% endif %}

            {% if "engagementc" in filters %}
                <br/><br/>
                {{ print_eng() }}
                {% set pd_count = (pd_count + 1) % 2 %}
                {{ print_pagebreak(pd_count, lf == "engagementc") }}
            {% endif %}


            {% if "likesc" in filters %}
                <br/><br/>
                {{ print_likes() }}
                {% set pd_count = (pd_count + 1) % 2 %}
                {{ print_pagebreak(pd_count, lf == "likesc") }}
            {% endif %}

            {% if "fvsmnlikec" in filters %}
                <br/><br/>
                {{ print_flvslikes() }}
                {% set pd_count = (pd_count + 1) % 2 %}
                {{ print_pagebreak(pd_count, lf == "fvsmnlikec") }}
            {% endif %}
        </page>
    </div>
</div>
</div>
<script type="text/javascript">
    function formatDate(date) {
  var monthNames = [
    "January", "February", "March",
    "April", "May", "June", "July",
    "August", "September", "October",
    "November", "December"
  ];

  var day = date.getDate();
  var monthIndex = date.getMonth();
  var year = date.getFullYear();

  return day + ' ' + monthNames[monthIndex] + ' ' + year;
}

$yesterday = new Date("{{summary_start_date}}");
$(".dashboarddateinfo").text(formatDate($yesterday));
</script>
<script type="text/javascript">
    {% if "likesc" in filters %}
    var media_likesrawdata = []
    var arr = []
    {% for x in media_likes_raw_data %}
      media_likesrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
      arr.push({{x[1]}});
    {% endfor %}
    var arrmax = Math.max.apply(null, arr) ;
    var arrmin = Math.min.apply(null, arr) ;
    var arrticks = Math.round((arrmax - arrmin)/10);
    console.log(media_likesrawdata);
    var media_likesdata = [
        {
            label: "line",
            data: media_likesrawdata
        }
    ];

    var media_likesChartOptions = {
         series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                    ]
                }
            },
            points: {
                show: true
            }
        },
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        colors: ["#62cb31"],
        grid: {
            clickable: true,
            hoverable: true,
            tickColor: "#e4e5e7",
            borderWidth: 1,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: {
            show: false
        },
        tooltip: {
            show: true,
            content: '%y',
            shifts: {
                x: -60,
                y: 25
            }
        }
    };
    $.plot($("#medialikeschart"), media_likesdata, media_likesChartOptions);
    {% endif %}

    {% if "followersc" in filters or "fvsmnlikec" in filters %}
    var followersrawdata = []
    var arr = []
    {% for x in followers_raw_data %}
      followersrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
      arr.push({{x[1]}});
    {% endfor %}
    {% endif %}

    {% if "followersc" in filters %}
    var arrmax = Math.max.apply(null, arr) ;
    var arrmin = Math.min.apply(null, arr) ;
    var arrticks = Math.round((arrmax - arrmin)/10);
    console.log(followersrawdata);
    var followersdata = [
        {
            label: "line",
            data: followersrawdata
        }
    ];

    var followersChartOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                    ]
                }
            },
            points: {
                show: true
            }
        },
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        yaxis: {
            min: arrmin - arrticks,
            max: arrmax + arrticks,
            tickSize: arrticks
        },
        colors: ["#62cb31"],
        grid: {
            clickable: true,
            hoverable: true,
            tickColor: "#e4e5e7",
            borderWidth: 0.5,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: {
            show: false
        },
        tooltip: {
            show: true,
            content: '%y',
            shifts: {
                x: -60,
                y: 25
            }
        }
    };
    $.plot($("#followerschart"), followersdata, followersChartOptions);
    {% endif %}

    {% if "engagementc" in filters %}
    var engagementrawdata = []
    {% for x in engagement_rate_raw_data %}
      engagementrawdata.push([new Date("{{x[0]}}"), {{x[1]}}]);
    {% endfor %}
    console.log(engagementrawdata);
    var engagementdata = [
        {
            label: "line",
            data: engagementrawdata
        }
    ];

    var engagementChartOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [ { opacity: 0.5 }, { opacity: 0.5 }
                    ]
                }
            },
            points: {
                show: true
            }
        },
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        colors: ["#62cb31"],
        grid: {
            clickable: true,
            hoverable: true,
            tickColor: "#e4e5e7",
            borderWidth: 1,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: {
            show: false
        },
        tooltip: {
            show: true,
            content: '%y',
            shifts: {
                x: -60,
                y: 25
            }
        }
    };
    $.plot($("#engagementchart"), engagementdata, engagementChartOptions);
    {% endif %}

    {% if "fvsmnlikec" in filters %}
    var likedata = []
    var arr = []
    {% for x in media_likes_mv_avg %}
      likedata.push([new Date("{{x[0]}}"), {{x[1]}}]);
      arr.push({{x[1]}});
    {% endfor %}
    console.log(likedata);
    var followlikedata = [
				{ data: likedata, label: "7-day moving average likes (Right Axis)" },
				{ data: followersrawdata, label: "Followers count (Left Axis)", yaxis: 2 }
    ];

    var followLikeChartOptions = {
        xaxis: {
            mode: "time",
            timeformat:"%y-%m-%d",
            tickSize: [1, 'day']
        },
        yaxes: [ {
					alignTicksWithAxis:  1,
					position: "right"
				} ],
        colors: ["#62cb31", "#0000ff"],
        grid: {
            clickable: true,
            hoverable: true,
            tickColor: "#e4e5e7",
            borderWidth: 1,
            borderColor: '#e4e5e7',
            color: '#6a6c6f'
        },
        legend: { position: "sw" },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };
    $.plot($("#followlikechart"), followlikedata, followLikeChartOptions);
    {% endif %}
</script>
<script type="text/javascript">
    function uploadpdf(doc){
        var blob = doc.output("blob");
        console.log(blob);
        var fd = new FormData();
        fd.append('_csrf_token', '{{csrf_token()}}');
        fd.append('filename', '{{handle}}_{{fstart_date}}_{{fend_date}}.pdf');
        fd.append('content', blob);
        $.ajax({
            type: 'POST',
            url: '{{url_for("store_report")}}',
            data: fd,
            processData: false,
            async: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
            window.open(data['fileloc']);
        });
    }
    function generatePDF() {
        $("#loading").show();
        $("#printcontent").attr("style", "padding: 10px; margin= 5px;");
        var element = document.getElementById('printcontent');
        html2pdf(element, {
            margin:       0.0,
            image:        { type: 'jpeg', quality: 1},
            pdfCallback: uploadpdf,
            html2canvas:  { dpi: 192, letterRendering: true ,scale: 2},
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
         });
        $("#loading").hide();
    }
</script>
{% endblock %}
